ASPNETCORE_ENVIRONMENT=
ASPNETCORE_HTTP_PORTS=
DB_CONNECTION_STRING=
PG_PASSWORD=
PG_USER=
Jwt__Key=

DynamoDb__LogTableName=
DynamoDb__UseLocal=
DynamoDb__LocalUrl=
DynamoDb__Region=
DynamoDb__ProfileName=

ElasticSettings__LocalUrl=
ElasticSettings__UseCloud=
ElasticSettings__ApiKey=
ElasticSettings__CloudId=

REDIS_CONNECTION=
#meu-cluster.abc.cache.amazonaws.com:6379